header {
	margin-top: 40px;
}

nav {
	display: flex;
	justify-content: space-between;
	max-width: 1600px;
	padding: 0px 30px;
	margin: 0px 50px;
	border-radius: 30px;
	background-color: #070f1a;
}

.menu-list {
	width: auto;
	min-width: 40%;
	justify-content: space-around;
}

.menu{
	display: none;
	margin: auto 0px;
}

nav ul,
.content ul {
	display: flex;
	list-style: none;
	padding-left: 0px;
}

nav li a {
	padding: 10px 20px;
	font-weight: 600;
}

@media screen and (max-width: 880px) {
	.menu-list, .authentication{
		display: none;
	}
	.menu{
		display: block;
	}

	nav{
		margin: auto;
		width: 200px;
	}
}


/* Temp Css Code */

/* Logo Css */

nav>a:first-of-type {
	font-weight: 900;
}