nav{
	display: flex;
	font-size: large;
	justify-content: space-between;
	width: 100%;
	padding: 8px 16px;
	height: auto;
	background-color: #ffffff;
	position: fixed;
	font-family: "Times New Roman", Georgia, Serif;
	letter-spacing: 3px;
	z-index: 1;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
nav a{
    display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	padding: 8px 16px;

}
span{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 330px;
	list-style-type: none;
}

nav li:hover, nav a:hover{
	background-color: rgb(187, 187, 187);
}

@media (max-width: 600px) {
	nav span {
		display: none;
	}
}