.section4{
	flex-direction: column;
	margin-left: 10px;
    margin-right: 10px;

}

.section4 h1{
	text-align: left;
}

.section4 h2{
	font-weight: 500;
    opacity: 0.6;
}

form{
	display: flex;
    flex-direction: column;
	margin: 6px;
}

input{
	margin: 10px;
	padding: 20px;
	border: none;
    border-bottom: 1px solid #b0a9a9;
}

.section4 button{
	width: fit-content;
    padding: 10px;
	border: none;
}

.section4 button:hover{
    background-color: #b0a9a9;
}