body {
	background-color: #15171c;
	color: #ffffff;
}

nav {
	position: relative;
	top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav button {
	background: linear-gradient(45deg, #5e4d77, #454485);
	color: #ffffff;
	border: none;
	width: 90px;
	height: 40px;
	border-radius: 19px;
	margin: 10px;
	margin-bottom: 40px;
}

.h1 {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	width: 320px;
/* 	height: 320px; */
	padding: 17px;
	background-color: #241b35;
	border-radius: 15px;
	display: inline-block;
	margin: 10px;
	overflow: hidden;
}

span {
	position: absolute;
	border: 1px solid #ffffff;
	padding: 4px;
	font-size: small;
	border-radius: 8px;
}

.container img {
	position: relative;
	left: 118px;
	width: 200px;
	height: 200px;
	border-radius: 7px;
}

.title {
	margin-top: 0px;
}

p{
	overflow: hidden;
}
