body {
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 30px;
	/* height: 50vh; */
	display: flex;
        justify-content: center;
	align-items: center;
	background-color: #1f2b3e;
}

.container {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 550px;
	height: fit-content;
	padding: 20px;
	border: 1px solid;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.user-input {
	position: relative;
	width: 80%;
}

.user-input input {
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 70px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-color: inherit;
}

.user-input button {
	cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #1B3358;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    font-weight: bold;
}

.showlists{
	width: 70%;
}

#list{
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 30px;
	background-color: #222048;
	width: 100%;
	display: flex;
        align-items: center;
        justify-content: space-between;
	margin-bottom: 10px;
}

.content{
	padding: 2px;
}

#list-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-button img{
	padding: 5px;
	cursor: pointer;

}

#edit, #delete{
	width: 23px;
}

@media (max-width: 500px) {
	.user-input, .showlists {
		width: 95%;
	}
}
